.examples {
   height: calc(100vh - 5rem);
}

/* For sections of content with <section> */
.examples section {
    background-color: var(--color-1);
    color: var(--color-9);
} 

.examples section > h1 {
  display: flex;
  align-items: center;
  font-size: 3rem;
}
