.examples {
  background-color: darkslategrey;
  border: 1px solid orchid;
  color: whitesmoke;
}

/* For sections of content with <section> */
.examples section {
    background-color: grey;
} 

.examples section > h1 {
  display: flex;
  align-items: center;
  font-size: 3rem;
}
