/* Defaults to <main> container */
.homepage {
  background-color: goldenrod;
  border: 1px solid green;

}

/* For sections of content with <section> */
.homepage section {
    background-color:rgb(123, 186, 242);
} 

.homepage section > h1 {
  display: flex;
  align-items: center;
  font-size: 3rem;

}
