/* For sections of content with <section> */
.homepage section {
    background-color: var(--color-1);
    color: var(--color-9);
    min-height: 75vh;

    justify-content: start;
} 

.homepage section > h1 {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: row;
}
/* @media (max-width: 768px) {
 
} */