.howto {
   height: calc(100vh - 5rem);
}

/* For sections of content with <section> */
.howto section {
    /* background-color:rgb(123, 186, 242); */
    background-color: var(--color-1);
    color: var(--color-9);
} 

.howto section > h1 {
  display: flex;
  align-items: center;
  font-size: 3rem;
}
