/* Defaults to <main> container */
.pageNotFound {
   height: calc(100vh - 5rem);
}

/* For sections of content with <section> */
.pageNotFound section {
    background-color: var(--color-1);
    color: var(--color-9);
} 

.pageNotFound section > h1 {
  display: flex;
  align-items: center;
  font-size: 3rem;
}
