/* For sections of content with <section> */
.pageNotFound section {
    background-color: var(--color-1);
    color: var(--color-9);
    min-height: 75vh;
    
    background-image: linear-gradient(to right, rgba(39, 18, 18, 0.4), rgba(39, 18, 18, 0.4)), url("src/assets/lost-guy.jpg");
    background-size: cover;
} 

.pageNotFound section {
    color: whitesmoke;
    text-shadow: 0 0 16px rgb(0, 0, 0);
}

.pageNotFound section > h1 {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .pageNotFound section {
    background-position: center;
  }
}
