/*  
    Creates a loading ("wait") animation of 3 vertical colored bars with a slight blur.
*/
/* Animation container */
div .loader {
    filter: blur(0.5rem);
    --webkit-filter: blur(8px); /* Safari support */
    background-position: center;
    background-size: cover;
}

/* Animated objects: <div> with color effects & animation frames qpplied */
.loader div {
    width: 9rem;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(var(--color-5) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  /* Animated keyframe effects go here */
 @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }  