/* Navbar and related color palette */
.palette {
  color: #EDEDE9;
  color: #D6CCC2;
  color: #F5EBE0;
  color: #E3D5CA;
  color: #D5BDAF;
}

.navbar {

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  background-color: #EDEDE9;
  padding: 0 2em;
  border-bottom: 1px solid #D6CCC2;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* Removes leading spacing for the ul/li list */
    padding-inline-start: 0;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;

    gap: 1rem;

    li a {
      display: flex;
      justify-content: center;
      min-width: 60px;
      padding-left: 1rem;
      padding-right: 1rem;      
    }
    
    li a:link, a:visited {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(78, 89, 100);
    }

    li a:hover {
      background-color: rgb(165, 134, 134);
      color: whitesmoke;
    }

    li {

      border-bottom: none;
    }
  }

  .menuIcon, .menuIconUnused {
      display: none;
      font-size: 2rem;  
  }
  


}

/* Mobile classes: Adds a left & right bar icon (right icon is
  invisible/inactive) and justify-content with space-between.

  Positions the <ul> navigation link list relative to the navbar
  container, immediately at the bottom edge.
*/
@media (max-width: 768px) {
  .navbar {
    position: relative;
    padding: 0.6rem;

    ul {
      position: absolute;
      /* Places top of <ul> at 100% of the parent element, a.k.a,
        at the exact bottom edge.
      */
      top: 100%;
      left: 0;

      /* IMPORTANT! 'user agent stylesheet' adds top/bottom
        margins which affect relative placement. (These are
        "margin-block-start & -end", with 1em in my dev.
        example.
      */
      margin-top: 0;
      margin-bottom: 0;

      padding: 0 0;
      gap: 0;
      width: 40%;

      display: flex;
      flex-direction: column;
      justify-content: left;
      border: 2px solid gray;
      background-color: #695c52;


      li {
        display: flex;
        justify-content: left;       
        width: stretch;
        padding: 0.6rem 0;     
      }

      li:not(:nth-last-child(1)) {
          border-bottom: 1px solid slategray;
      }      

      li a:link, a:visited {
        min-width: 0;
        font-size: 0.8rem;
        color: whitesmoke;
      }

    }

    .menuIcon {
      display: block;
    }

    .menuIconUnused { 
      display: block;
      visibility: hidden;
    }

    /*  Hides the menu based on isOpen state value
        Note: needs to be located inside <nav> else, the
        higher selector will prevent it from being applied.
    */
    .hideMenu {
      display: none;
    }

  }


}