/* Navbar and related color palette */
.palette {
  color: #EDEDE9;
  color: #D6CCC2;
  color: #F5EBE0;
  color: #E3D5CA;
  color: #D5BDAF;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 3rem;
  
  justify-content: space-between;
  align-items: center;

  background-color: #EDEDE9;
  padding: 0 2em;
  border-bottom: 1px solid #D6CCC2;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;

  }

      svg {
      height: 2rem;
      width: 2rem;
    }  

  .menu {
      display: none;
      /* font-size: 2rem; */
    
      color: darkgray;
    }


    .menuUnused {
      display: none;
       /* font-size: 2rem; */  
      color: darkgray;
  }
  
}


@media (max-width: 768px) {

  .nav {
    padding: 0 1em;


    ul {
      display: none;
      /* position: absolute;
      top: 2.6rem;

      display: flex;
      flex-direction: column;
      align-items: start; */


      background-color: #E3D5CA;
    }

    .menu {
      display: block;
      background-color:green;

    }

    .menuUnused {
        display: block;
      background-color: green;       
        /* visibility: hidden; */
    }




  }

    .menuGroup {
      display: flex;
      width: auto;

      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      background-color: orange;
    }

}

/* .nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;

} */

.nav a:link,a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: slategray;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav a:hover {
  background-color: lightgray;
  color: black;
}

/* .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
} */

/* CSS Modules feature */

/* .nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
} */