/* Navbar and related color palette */
.palette {
  color: #EDEDE9;
  color: #D6CCC2;
  color: #F5EBE0;
  color: #E3D5CA;
  color: #D5BDAF;
}

.nav {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  background-color: #EDEDE9;
  padding: 0.6rem 2em;
  border-bottom: 1px solid #D6CCC2;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* Removes leading spacing for the ul/li list */
    padding-inline-start: 0;
    gap: 1rem;

    a:link,a:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: rgb(78, 89, 100);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    a:hover {
      background-color: lightgray;
      color: black;
    }

    li {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .menuIcon, .menuIconUnused {
      display: none;
      font-size: 2rem;  
  }
  


}

/* Mobile classes: Adds a left & right bar icon (right icon is
  invisible/inactive) and justify-content with space-between.

  Positions the <ul> navigation link list relative to the navbar
  container, immediately at the bottom edge.
*/
@media (max-width: 768px) {
  .nav {
    position: relative;
    padding: 0.8rem;

    ul {
      /* position relative to the parent container
         (<nav>)
      */
      position: absolute;
      top: 100%;
      left: 0;

      /* IMPORTANT! 'user agent stylesheet' adds top/bottom
        margins which affect relative placement. (These are
        "margin-block-start & -end", with 1em in my dev.
        example.
      */
      margin-top: 0;
      margin-bottom: 0;

      padding: 0 0;
      gap: 0;
      width: 40%;

      display: flex;
      flex-direction: column;

      border: 2px solid gray;
      background-color: #695c52;
      box-shadow: 0.1rem 0.1rem 0.6rem rgb(98, 89, 89);


      li {
    
        width: stretch;
        padding: 0.6rem 1rem;
        border-bottom: 1px solid slategray;
      }

      a:link, a:visited {
        font-size: 0.8rem;
        color: whitesmoke;
      }

      a:hover {
        background-color: rgb(149, 134, 134);
        color: rgb(43, 43, 43);
      }         

    }

    .menuIcon {
      display: block;
    }

    .menuIconUnused { 
      display: block;
      visibility: hidden;
    }

  }

  .menuGroup {
    display: flex;
    width: 100%;
    padding: 0.2rem 1.6rem;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* Hides the menu based on isOpen state value */
  .hideMenu {
    display: none!important;
  }

}



/* .nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;

} */



/* .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
} */

/* CSS Modules feature */

/* .nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
} */